@page "/"
@page "/{RoomId}"
@using ScrumPoker.Model
@using ScrumPoker.Services
@inject IUserService _userService
@inject NavigationManager NavigationManager

<EditForm Model=@user style="margin-top: 40vh" OnValidSubmit="@createOrJoin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-5">
            <InputText @bind-Value=user.UserName type="text" class="form-control" placeholder="Ex: username 'einstein_a'" />
        </div>
        <div class="col-5">
            <InputText @bind-Value=user.FullName type="text" class="form-control" placeholder="Ex: name 'Albert Einstein'" />
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" type="submit"> @ButtonName </button>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public string RoomId { get; set; }

    private User user = new User();

    private string ButtonName => this.RoomId == null ? "Create Room" : "Join Room";

    private void createOrJoin()
    {

        if (RoomId == null)
        {
            user.Room = new Room { CreatedAt = DateTime.UtcNow, IsShowPoint = false };
            user.IsAdmin = true;
            _userService.Add(user);
        }
        else
        {
            user.RoomId = RoomId;
            _userService.Add(user);
        }

        NavigationManager.NavigateTo($"/{user.RoomId}/{user.Id}");
    }
}